In [42]:
# Import libraries
import pandas as pd
import numpy as np
import requests 
import re

# Pandas display options
pd.set_option('display.max_columns', None)

In [7]:
end_point_1 = 'https://datos.madrid.es/egob/' # Main End-Point
body_1 = 'catalogo/202311-0-colegios-publicos.json'# Body
pulls_response_1 = requests.get(end_point_1 + body_1)

In [8]:
status_1 = pulls_response_1.status_code
status_1

200

In [9]:
#content = pulls_response.content
#content

In [10]:
pulls_json_1 = pulls_response_1.json()
print(type(pulls_json_1))
print(len(pulls_json_1))
#pulls_json_1

<class 'dict'>
2

In [11]:
df_col_pub = pd.json_normalize(pulls_json_1, ['@graph'])
df_col_pub.head()

,@id,@type,id,title,relation,address.district.@id,address.area.@id,address.locality,address.postal-code,address.street-address,location.latitude,location.longitude,organization.organization-desc,organization.accesibility,organization.schedule,organization.services,organization.organization-name
0,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,176850,Colegio Público Adolfo Suárez,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28050,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,ENSEÑANZAS: Segundo ciclo de E. Infantil - Pr...,0,,Comedor - Horario ampliado - Planes de mejora.,Colegio Público Adolfo Suárez
1,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5075,Colegio Público Agustina Díez,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28038,CALLE VESUBIO 5,40.388191,-3.647237,ENSEÑANZA: Educación infantil - Primaria METR...,0,,Comedor - Horario ampliado,Colegio Público Agustina Díez
2,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,4693138,Colegio Público Agustín Rodriguez Sahagún,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28031,CALLE LA GRANJA DE SAN ILDEFONSO 17,40.368040,-3.622168,ENSEÑANZA: Educacion Infantil - Primaria - En...,0,,Horario ampliado - Comedor - Planes de mejora,Colegio Público Agustín Rodriguez Sahagún
3,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5076,Colegio Público Alberto Alcocer,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28022,AVENIDA CANILLEJAS A VICALVARO 56,40.433338,-3.612052,ENSEÑANZA: Educación Infantil - Primaria - En...,0,,Comedor - Transporte - Horario ampliado - Plan...,Colegio Público Alberto Alcocer
4,https://datos.madrid.es/egob/catalogo/tipo/ent...,https://datos.madrid.es/egob/kos/entidadesYorg...,5077,Colegio Público Alcalde de Móstoles,http://www.madrid.es/sites/v/index.jsp?vgnextc...,https://datos.madrid.es/egob/kos/Provincia/Mad...,https://datos.madrid.es/egob/kos/Provincia/Mad...,MADRID,28044,CALLE ALDEANUEVA DE LA VERA 9,40.379837,-3.776448,ENSEÑANZA: Educación Infantil - Primaria BUS:...,0,,Transporte - Comedor - Horario ampliado - Plan...,Colegio Público Alcalde de Móstoles

In [12]:
df_col_pub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   @id                             249 non-null    object
 1   @type                           249 non-null    object
 2   id                              249 non-null    object
 3   title                           249 non-null    object
 4   relation                        249 non-null    object
 5   address.district.@id            249 non-null    object
 6   address.area.@id                249 non-null    object
 7   address.locality                249 non-null    object
 8   address.postal-code             249 non-null    object
 9   address.street-address          249 non-null    object
 10  location.latitude               249 non-null    float64
 11  location.longitude              249 non-null    float64
 12  organization.organization-desc  249 non-null    object
 13  organization.accesibility       249 non-null    object
 14  organization.schedule           249 non-null    object
 15  organization.services           249 non-null    object
 16  organization.organization-name  249 non-null    object
dtypes: float64(2), object(15)
memory usage: 33.2+ KB

In [13]:
df_col_pub_2 = df_col_pub[["title", "address.street-address", "location.latitude", "location.longitude", 
                 "organization.organization-name"]]
df_col_pub_2.head()

,title,address.street-address,location.latitude,location.longitude,organization.organization-name
0,Colegio Público Adolfo Suárez,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,Colegio Público Adolfo Suárez
1,Colegio Público Agustina Díez,CALLE VESUBIO 5,40.388191,-3.647237,Colegio Público Agustina Díez
2,Colegio Público Agustín Rodriguez Sahagún,CALLE LA GRANJA DE SAN ILDEFONSO 17,40.368040,-3.622168,Colegio Público Agustín Rodriguez Sahagún
3,Colegio Público Alberto Alcocer,AVENIDA CANILLEJAS A VICALVARO 56,40.433338,-3.612052,Colegio Público Alberto Alcocer
4,Colegio Público Alcalde de Móstoles,CALLE ALDEANUEVA DE LA VERA 9,40.379837,-3.776448,Colegio Público Alcalde de Móstoles

In [14]:
df_col_pub_2["Type of place"] = df_col_pub_2["organization.organization-name"].str.split(" ", expand = True)[0] + " " + df_col_pub_2["organization.organization-name"].str.split(" ", expand = True)[1]
df_col_pub_2.head()

C:\Users\Marguis\AppData\Local\Temp\ipykernel_7724\2264361694.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_col_pub_2["Type of place"] = df_col_pub_2["organization.organization-name"].str.split(" ", expand = True)[0] + " " + df_col_pub_2["organization.organization-name"].str.split(" ", expand = True)[1]

,title,address.street-address,location.latitude,location.longitude,organization.organization-name,Type of place
0,Colegio Público Adolfo Suárez,CALLE INFANTA CATALINA MICAELA 31,40.488603,-3.652554,Colegio Público Adolfo Suárez,Colegio Público
1,Colegio Público Agustina Díez,CALLE VESUBIO 5,40.388191,-3.647237,Colegio Público Agustina Díez,Colegio Público
2,Colegio Público Agustín Rodriguez Sahagún,CALLE LA GRANJA DE SAN ILDEFONSO 17,40.368040,-3.622168,Colegio Público Agustín Rodriguez Sahagún,Colegio Público
3,Colegio Público Alberto Alcocer,AVENIDA CANILLEJAS A VICALVARO 56,40.433338,-3.612052,Colegio Público Alberto Alcocer,Colegio Público
4,Colegio Público Alcalde de Móstoles,CALLE ALDEANUEVA DE LA VERA 9,40.379837,-3.776448,Colegio Público Alcalde de Móstoles,Colegio Público

In [15]:
"""
df_col_pub_2["Place number"] = df_col_pub_2["address.street-address"].str.split("\s+\d", expand = True)[1]
df_col_pub_2.head()
"""

'\ndf_col_pub_2["Place number"] = df_col_pub_2["address.street-address"].str.split("\\s+\\d", expand = True)[1]\ndf_col_pub_2.head()\n'

In [16]:
df_col_pub_2['Place address'] = df_col_pub_2['address.street-address'].apply(lambda x: x.title())

C:\Users\Marguis\AppData\Local\Temp\ipykernel_7724\2933324661.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_col_pub_2['Place address'] = df_col_pub_2['address.street-address'].apply(lambda x: x.title())

In [17]:
df_col_pub_3 = df_col_pub_2[["title", "Type of place", "Place address", "location.latitude", 
                             "location.longitude"]]
df_col_pub_3.head()

,title,Type of place,Place address,location.latitude,location.longitude
0,Colegio Público Adolfo Suárez,Colegio Público,Calle Infanta Catalina Micaela 31,40.488603,-3.652554
1,Colegio Público Agustina Díez,Colegio Público,Calle Vesubio 5,40.388191,-3.647237
2,Colegio Público Agustín Rodriguez Sahagún,Colegio Público,Calle La Granja De San Ildefonso 17,40.368040,-3.622168
3,Colegio Público Alberto Alcocer,Colegio Público,Avenida Canillejas A Vicalvaro 56,40.433338,-3.612052
4,Colegio Público Alcalde de Móstoles,Colegio Público,Calle Aldeanueva De La Vera 9,40.379837,-3.776448

In [18]:
df_col_pub_3.columns = [["Place of interest", "Type of place", "Place address", "Latitude", "Longitude"]]
df_col_pub_3.head()

,Place of interest,Type of place,Place address,Latitude,Longitude
0,Colegio Público Adolfo Suárez,Colegio Público,Calle Infanta Catalina Micaela 31,40.488603,-3.652554
1,Colegio Público Agustina Díez,Colegio Público,Calle Vesubio 5,40.388191,-3.647237
2,Colegio Público Agustín Rodriguez Sahagún,Colegio Público,Calle La Granja De San Ildefonso 17,40.368040,-3.622168
3,Colegio Público Alberto Alcocer,Colegio Público,Avenida Canillejas A Vicalvaro 56,40.433338,-3.612052
4,Colegio Público Alcalde de Móstoles,Colegio Público,Calle Aldeanueva De La Vera 9,40.379837,-3.776448

In [19]:
df_col_pub_3['Latitude'] = df_col_pub_3['Latitude'].astype(float)
df_col_pub_3['Longitude'] = df_col_pub_3['Longitude'].astype(float)

C:\Users\Marguis\AppData\Local\Temp\ipykernel_7724\1357225641.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_col_pub_3['Latitude'] = df_col_pub_3['Latitude'].astype(float)
C:\Users\Marguis\AppData\Local\Temp\ipykernel_7724\1357225641.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_col_pub_3['Longitude'] = df_col_pub_3['Longitude'].astype(float)

In [57]:
df_col_pub_3.head()

,Place of interest,Type of place,Place address,Latitude,Longitude
0,Colegio Público Adolfo Suárez,Colegio Público,Calle Infanta Catalina Micaela 31,40.488603,-3.652554
1,Colegio Público Agustina Díez,Colegio Público,Calle Vesubio 5,40.388191,-3.647237
2,Colegio Público Agustín Rodriguez Sahagún,Colegio Público,Calle La Granja De San Ildefonso 17,40.368040,-3.622168
3,Colegio Público Alberto Alcocer,Colegio Público,Avenida Canillejas A Vicalvaro 56,40.433338,-3.612052
4,Colegio Público Alcalde de Móstoles,Colegio Público,Calle Aldeanueva De La Vera 9,40.379837,-3.776448

In [21]:
bicimad_stations = pd.read_csv('../data/bicimad_stations.csv')
bicimad_stations.head()

,BiciMAD station,Station location,Coordinates
0,1a - Puerta del Sol A,Puerta del Sol nº 1,"[-3.7018341, 40.4172137]"
1,1b - Puerta del Sol B,Puerta del Sol nº 1,"[-3.701602938060457, 40.41731271011562]"
2,2 - Miguel Moya,Calle Miguel Moya nº 1,"[-3.7058415, 40.4205886]"
3,3 - Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,"[-3.7069171, 40.4302937]"
4,4 - Malasaña,Calle Manuela Malasaña nº 5,"[-3.7025875, 40.4285524]"

In [22]:
bicimad_stations["Station location"] = bicimad_stations["Station location"].str.replace(" nº", ",")
bicimad_stations.head()

,BiciMAD station,Station location,Coordinates
0,1a - Puerta del Sol A,"Puerta del Sol, 1","[-3.7018341, 40.4172137]"
1,1b - Puerta del Sol B,"Puerta del Sol, 1","[-3.701602938060457, 40.41731271011562]"
2,2 - Miguel Moya,"Calle Miguel Moya, 1","[-3.7058415, 40.4205886]"
3,3 - Plaza Conde Suchil,"Plaza del Conde del Valle de Súchil, 3","[-3.7069171, 40.4302937]"
4,4 - Malasaña,"Calle Manuela Malasaña, 5","[-3.7025875, 40.4285524]"

In [23]:
bicimad_stations["Longitude"] = bicimad_stations["Coordinates"].str.split(",", 
                        expand = True)[0].str.split("[", expand = True)[1]
bicimad_stations["Latitude"] = bicimad_stations["Coordinates"].str.split(",", 
                        expand = True)[1].str.split("]", expand = True)[0]
bicimad_stations["BiciMAD station"] = bicimad_stations["BiciMAD station"].str.split("- ", expand = True)[1]
bicimad_stations.head()

,BiciMAD station,Station location,Coordinates,Longitude,Latitude
0,Puerta del Sol A,"Puerta del Sol, 1","[-3.7018341, 40.4172137]",-3.7018341,40.4172137
1,Puerta del Sol B,"Puerta del Sol, 1","[-3.701602938060457, 40.41731271011562]",-3.701602938060457,40.41731271011562
2,Miguel Moya,"Calle Miguel Moya, 1","[-3.7058415, 40.4205886]",-3.7058415,40.4205886
3,Plaza Conde Suchil,"Plaza del Conde del Valle de Súchil, 3","[-3.7069171, 40.4302937]",-3.7069171,40.4302937
4,Malasaña,"Calle Manuela Malasaña, 5","[-3.7025875, 40.4285524]",-3.7025875,40.4285524

In [24]:
bicimad_stations_1 = bicimad_stations[["BiciMAD station", "Station location", "Latitude", "Longitude"]]
bicimad_stations_1.head()

,BiciMAD station,Station location,Latitude,Longitude
0,Puerta del Sol A,"Puerta del Sol, 1",40.4172137,-3.7018341
1,Puerta del Sol B,"Puerta del Sol, 1",40.41731271011562,-3.701602938060457
2,Miguel Moya,"Calle Miguel Moya, 1",40.4205886,-3.7058415
3,Plaza Conde Suchil,"Plaza del Conde del Valle de Súchil, 3",40.4302937,-3.7069171
4,Malasaña,"Calle Manuela Malasaña, 5",40.4285524,-3.7025875

In [25]:
bicimad_stations_1['Latitude'] = bicimad_stations_1['Latitude'].astype(float)
bicimad_stations_1['Longitude'] = bicimad_stations_1['Longitude'].astype(float)
bicimad_stations_1.head()

C:\Users\Marguis\AppData\Local\Temp\ipykernel_7724\2407731703.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bicimad_stations_1['Latitude'] = bicimad_stations_1['Latitude'].astype(float)
C:\Users\Marguis\AppData\Local\Temp\ipykernel_7724\2407731703.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bicimad_stations_1['Longitude'] = bicimad_stations_1['Longitude'].astype(float)

,BiciMAD station,Station location,Latitude,Longitude
0,Puerta del Sol A,"Puerta del Sol, 1",40.417214,-3.701834
1,Puerta del Sol B,"Puerta del Sol, 1",40.417313,-3.701603
2,Miguel Moya,"Calle Miguel Moya, 1",40.420589,-3.705842
3,Plaza Conde Suchil,"Plaza del Conde del Valle de Súchil, 3",40.430294,-3.706917
4,Malasaña,"Calle Manuela Malasaña, 5",40.428552,-3.702587

In [65]:
bicimad_stations_1['Station location'].str.contains('Sierra de Guadalupe').any()

False

In [26]:
from shapely.geometry import Point
import geopandas as gpd   # conda install -c conda-forge geopandas
from pyproj import CRS

def to_mercator(lat, long):
    # transform latitude/longitude data in degrees to pseudo-mercator coordinates in metres
    c = gpd.GeoSeries([Point(lat, long)], crs=4326)
    c = c.to_crs(3857)
    return c

def distance_meters(lat_start, long_start, lat_finish, long_finish):
    # return the distance in metres between to latitude/longitude pair point in degrees (i.e.: 40.392436 / -3.6994487)
    start = to_mercator(lat_start, long_start)
    finish = to_mercator(lat_finish, long_finish)
    return start.distance(finish)

In [27]:
def closest_station(df_bici, lat_cp, long_cp):
    dist_min = 5000000
    for i, j in df_bici.iterrows():
        #print(i)
        #print(j)
        dist = distance_meters(j[-2], j[-1], lat_cp, long_cp)[0]
        #print(dist)
        if (dist < dist_min):
            dist_min = dist
            closest_point = j
    return closest_point

In [63]:
closest_station(bicimad_stations_1, 40.368040, -3.622168)

BiciMAD station                            Pavones
Station location    Calle Hacienda de Pavones, 342
Latitude                                 40.400368
Longitude                                -3.634587
Name: 223, dtype: object

In [31]:
new_df = df_col_pub_3.apply(lambda x: closest_station(bicimad_stations_1, x["Latitude"], 
                                            x["Longitude"]), axis=1)
new_df

,BiciMAD station,Station location,Latitude,Longitude
0,Manuel Caldeiro,"Paseo de la Castellana, 298",40.479380,-3.685320
1,Sierra Toledana,"Camino de Valderribas, 94",40.399015,-3.660777
2,Pavones,"Calle Hacienda de Pavones, 342",40.400368,-3.634587
3,Gutierre de Cetina,"Calle Gutierre de Cetina, 77",40.429706,-3.640994
4,Caramuel,"Calle Caramuel, 51",40.409136,-3.728534
...,...,...,...,...
244,Manuel Caldeiro,"Paseo de la Castellana, 298",40.479380,-3.685320
245,Plaza de San Francisco,"Plaza de San Francisco, 5",40.410800,-3.714113
246,Pavones,"Calle Hacienda de Pavones, 342",40.400368,-3.634587
247,Parque Santander,Calle Santander esquina con Avenida de Filipinas,40.441139,-3.708083
248,Pavones,"Calle Hacienda de Pavones, 342",40.400368,-3.634587

In [58]:
df_col_pub_4 = df_col_pub_3[["Place of interest", "Type of place", "Place address"]]
df_col_pub_4.head()

,Place of interest,Type of place,Place address
0,Colegio Público Adolfo Suárez,Colegio Público,Calle Infanta Catalina Micaela 31
1,Colegio Público Agustina Díez,Colegio Público,Calle Vesubio 5
2,Colegio Público Agustín Rodriguez Sahagún,Colegio Público,Calle La Granja De San Ildefonso 17
3,Colegio Público Alberto Alcocer,Colegio Público,Avenida Canillejas A Vicalvaro 56
4,Colegio Público Alcalde de Móstoles,Colegio Público,Calle Aldeanueva De La Vera 9

In [48]:
bicimad_stations_2 = new_df[["BiciMAD station", "Station location"]]
bicimad_stations_2.head()

      BiciMAD station                Station location
0     Manuel Caldeiro     Paseo de la Castellana, 298
1     Sierra Toledana       Camino de Valderribas, 94
2             Pavones  Calle Hacienda de Pavones, 342
3  Gutierre de Cetina    Calle Gutierre de Cetina, 77
4            Caramuel              Calle Caramuel, 51

In [69]:
nearest_bicimad_cp = pd.concat([df_col_pub_5, bicimad_stations_2], axis=1)
nearest_bicimad_cp.head()

,"(Place of interest,)","(Type of place,)","(Place address,)",BiciMAD station,Station location
0,Colegio Público Adolfo Suárez,Colegio Público,Calle Infanta Catalina Micaela 31,Manuel Caldeiro,"Paseo de la Castellana, 298"
1,Colegio Público Agustina Díez,Colegio Público,Calle Vesubio 5,Sierra Toledana,"Camino de Valderribas, 94"
2,Colegio Público Agustín Rodriguez Sahagún,Colegio Público,Calle La Granja De San Ildefonso 17,Pavones,"Calle Hacienda de Pavones, 342"
3,Colegio Público Alberto Alcocer,Colegio Público,Avenida Canillejas A Vicalvaro 56,Gutierre de Cetina,"Calle Gutierre de Cetina, 77"
4,Colegio Público Alcalde de Móstoles,Colegio Público,Calle Aldeanueva De La Vera 9,Caramuel,"Calle Caramuel, 51"

In [62]:
nearest_bicimad_cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   (Place of interest,)  249 non-null    object
 1   (Type of place,)      249 non-null    object
 2   (Place address,)      249 non-null    object
 3   BiciMAD station       249 non-null    object
 4   Station location      249 non-null    object
dtypes: object(5)
memory usage: 9.9+ KB